<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>
  
  <connectionStrings>
    <add connectionString="Server=DESKTOP-UO34O5F;database=PRUEBA;Integrated security=true;user id=sa;password="
         providerName="System.Data.SqlClient"
         name="cnn"/>
   
  </connectionStrings>
  
</configuration>
